/* CSS Document */
.clearr {
	clear:both;
}
.main-wrap {
	background-color:#666;
	padding:10px;
}
.wrapper {
	width:1000px;
	background:#FFF;
	margin:0 auto;
	border-radius:5px;
	padding:10px;
}
.wrapperLeft {
	width:300px;
	background:#FFF;
	float:left;
	height:500px;
}
.wrapperRight {
	width:700px;
	background:#FFF;
	float:right;
}

.tabb{
	
	cursor:pointer;
	padding: 5px 20px;
	margin-left:10px;
	float:left;
	border-radius:10px 10px 0px 0px;
	background-color:#CCC;	
}

.try{
	clear:both;
	padding: 5px 20px;
	background-color:#CCC;
}
.buttonDesign {
	padding:10px;
	border-radius:10px;
	background:#CCC;
	cursor:pointer;
	margin:10px 10px 0px 0px;
	width:125px;
}
.wrapperDiv {
	padding:10px;
	margin:10px;
	background:#CCC;
	border:1px #333 solid;
}
.txtField {
	margin-top:5px;
	display:block;
	height:25px;
}
.paraField {
	margin-top:5px;
	display:block;
	height:100px;
}
.radioInput{
	margin-top:5px;
	
}
.radioField{
	margin-top:5px;
	display:block;
	height:25px;
}

